@import "tailwindcss";

.container {
    @apply max-w-[1192px] mx-auto px-4;
}

.bg-hero {
    background-image: url("/hero-image.jpg");
}

.bg-benefits {
    background-image: url("/bg-benefits.webp");
}

.hero-about-us {
    background-image: url("/hero-about-us.webp");
}

.bg-sign-up-hero {
    background-image: url("/bg-sign-up-hero.webp");
}

.bg-hero , .bg-benfits {
    background-size: cover;
    background-position: center;
    position: relative;
}

    .bg-hero::before , .overlay::before , .join-discover::before , .hero-about-us::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(30, 30, 30, 0.35);
        z-index: 0;
    }

    .overlay::before {
        z-index: 2;
    }

.join-discover {
    background-image: url("/discover.webp");
    background-size: cover;
    background-position: center;
}

    .join-discover::before {
        background-color: rgba(30, 30, 30, 0.25);
        border-radius: 8px 8px 0 0;
    }

.logo-text {
    line-height: 0.8;
}

.logo-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply bg-gradient-to-b from-black/0 to-white/70;
}

.bg-process::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/background.svg");
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 45%;
    z-index: 0;
}

.bg-process.sign-up-form::before {
    top: 230px;
}

@layer utilities {
  .progressive-blur {
    backdrop-filter: blur(10px);
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 25%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 25%
    );
    backdrop-filter: blur(10px);
  }

  .divider::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: var(--color-stroke-100);
    top: 50%;
    right: -20px;
    transform: translateY(-15px);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }
}

@theme {
    --font-sans: "Mona Sans", sans-serif;

    --color-default-bg: #F9F9FB;
    --color-dark: #000;
    --color-black: #1E1E1E;
    --color-gray-100: #777777;
    --color-gray-200: #F5F5F5;
    --color-gray-300: #D0D5DD;
    --color-cream: #F1EFEE;
    --color-accent-red: #FF383C;
    --color-blue-50: #E6F3FF;
    --color-blue-700: #3398FF;

    /* Border */
    --color-stroke-100: #E5E5E5;

    /* Shadow */
    --shadow-sm: 0px 4px 20px rgba(255, 255, 255, 0.2);
    --shadow-sm-dark: 0px 4px 15px rgba(0, 0, 0, 0.2);

    /* Typography */
    --text-6xl: 4rem;
    --text-6xl--line-height: calc(1.08);

    --text-5xl--line-height: calc(1.1);

    /* Breakpoints */
    --breakpoint-xs: 380px;
}